.weather-card__footer {
    display: flex;
    padding: 0 15px;
    font-family: Jost;

    h3 {
        height: 52px;
    }

    .weather-card__footer-block {
        width: 50%;
    }

    .weather-card__footer__left {
        .weather-card__footer__left__between {
            color: rgba(112, 112, 112, 1);
        }

        .weather-card__footer__left-temperature-changer {
            vertical-align: 24px;
        }

        .weather-card__footer__left-temperature {
            font-size: 44px;
            letter-spacing: 0px;
            color: rgba(0, 0, 0, 1);
        }

        .weather-card__footer__left__temperature-true {
            font-size: 22px;
            letter-spacing: 0px;
            color: rgba(0, 0, 0, 1);
        }

        .weather-card__footer__left__temperature-false {
            cursor: pointer;
            font-size: 22px;
            letter-spacing: 0px;
            color: rgba(141, 141, 141, 1);
        }

        p {
            font-size: 13px;
            color: rgba(197, 197, 197, 1);
            margin-bottom: 15px;
        }
    }

    .weather-card__footer__right {
        p {
            margin-top: 5px;
            font: normal normal normal 12px/18px Jost;
            letter-spacing: 0px;
            text-align: right;

            span {
                font-weight: 600;
                font-size: 12px;
                color: #459DE9;
                font-family: Jost;
            }
        }
    }
}